vendor/
node_modules/
npm-debug.log
artisan
bootstrap/
composer.lock
composer.json

# Laravel 4 specific
bootstrap/compiled.php
app/storage/

# Laravel 5 & Lumen specific
public/storage
public/hot
storage/*.key
.env.*.php
.env.php
.env
Homestead.yaml
Homestead.json

#Servitux
.ftpconfig
.env.example
.gitattributes
app/Exceptions/
app/Http/Controllers/Auth/
app/Http/Controllers/Config/UserAsteriskController.php
app/Http/Controllers/Controller.php
app/Http/Middleware/EncryptCookies.php
app/Http/Middleware/RedirectIfAuthenticated.php
app/Http/Middleware/VerifyCsrfToken.php
app/Listeners/
app/Modules/EventHandler/EventHandler/error.log
app/Modules/EventHandler/EventHandler/error.txt
app/Modules/EventHandler/EventHandler/output.txt
app/Modules/Fax/Faxes/
app/Providers/AuthServiceProvider.php
app/Providers/BroadcastServiceProvider.php
app/Providers/EventServiceProvider.php
app/Providers/RouteServiceProvider.php

config/auth.php
config/broadcasting.php
config/cache.php
config/compile.php
config/filesystem.php
config/queue.php
config/services.php
config/session.php
config/filesystems.php
config/view.php
database/factories
database/migrations/.gitkeep
gulpfile.js
package.json
phpunit.xml
public/.htaccess
public/assets/AdminLTE*
public/assets/images/asterisk
public/assets/images/profiles
public/favicon.ico
public/index.php
public/js/socket.io-client/
public/robots.txt
public/web.config
resources/assets/
resources/lang/
resources/views/auth/passwords/email.blade.php
resources/views/auth/passwords/reset.blade.php
resources/views/email/profile/changed.blade.php
resources/views/errors/503.blade.php
routes/console.php
server.php
storage/
tests/
